<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xiirpl109192939.voteapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logovote"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <!-- <activity android:name=".RiwayatVote" /> -->
        <!-- <activity android:name=".HasilActivity" /> -->
        <activity
            android:name=".HomeVote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".KetVoteActivity" />
        <activity android:name=".VoteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppIntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FotoProifleActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".AddVote" />
        <activity
            android:name=".AddCandidates"
            android:label="@string/title_activity_add_candidates" />
        <activity android:name=".splash.splashActivity"></activity>
    </application>

</manifest>